@import './style';
body{
    background-color: #fffcfc;
}
.nav-bar{
    width: 100%;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.302);
    background-color: rgb(26, 26, 26);
}
.container{
    max-width: 1200px;
}
.header{
    min-height: 90vh;
    width: 100vw;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.342)), url(../img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder,
textarea::placeholder{
    font-size: 20px !important;
    color: #6C63FF;
}

.header-content{
    font-size: 1rem;
    color: #f9f9f9;
}
.service{
    min-height: 90vh;
}
.service-cont{
    padding: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .service-item{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &-left{
            flex: 1;

            p{
                font-size: 20px;
            }
        }

        &-right{
            height: 300px;
            width: 300px;
            max-width: 30%;
            margin: 2rem;

            img{
                height: 100%;
                width: 100%;
            }
        }

        
    }
}

.heading{
    color: #002F80;
    text-align: center;
    margin: 2rem;
    font-size: 30px;
}


.nav-link{
    text-transform: capitalize;
}
.icon{
    margin-bottom: 10px;
}
.icons{
    font-size: 8rem;
    color: #002F80;
}
p{
    font-size: 1.5rem;
}
.about-cont{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2rem 0;

    .left{
        width: 50%;
        min-width: 250px;
        padding: 0 2rem;

        h1{
            font-size: 30px;
            text-transform: capitalize;
            color: #002F80;
            margin: 2rem 0 1rem 0;
        }

        p{
            font-size: 17px;
            letter-spacing: 1.6px;
        }

    }

    .right{
        width: 50%;
        min-width: 250px;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-box{
            height: 90%;
            width: 90%;
            min-height: 200px;
            min-width: 200px;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width:813px){
        .left{
            width: 100%;
        }

        .right{
           display: none;
        }
    }
}


.about{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cont{
    width: 100%;
    margin-top: 5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.download-item{
    width: 300px;
    height: 200px;
    border-radius: 0;
    box-shadow: 1px 3px 1rem rgba(#000,.3);
    margin: .7rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    p{
        font-size: 18px;
        text-align: center;
    }
}

a{
    text-decoration: none;
}

.button{
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    background-color:#6C63FF;
    padding: .5rem 1.5rem;
    font-size: 15px;
    color: #f9f9f9;
    text-align: center;
}
.button:hover{
    color: #f9f9f9;
    text-decoration: none;
}

.footer{
    background-color: rgb(26, 15, 15);
    padding: 4vh 0;

}
.footer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9f9f9;

    span{
        display: block;
    }
}

.footer-content{
    display: flex;
    margin-right: 1rem;

    .fa{
        color: #f9f9f9;
        font-size: 2rem;
        margin-right: 1rem;
        margin-top: 5px;
    }
}